<div class="admin-form">
  <h1 class="admin-from-title">Activity Logs</h1>
  <div class="reservation-list">
    {{#each model.activity_logs as |log|}}      
		<div class="row">
  			<div class="col-xs-12 col-sm-3">
   				<span>User</span>
    			<span>{{model.logUser.name}}</span>
 	 		</div>
  			<div class="col-xs-12 col-sm-5">
    			<span>Activity</span>
    			<span>{{log.activity}}</span>
 			</div>
  			<div class="col-xs-12 col-sm-4">
    			<span>Date/Time</span>
    			<span>{{log.date_time}}</span>
  			</div>
		</div>
    {{/each}}
   </div>
</div>