{{#page-navigation type=type coverImage=coverImage user=user}}
  <div id="main" class="container clear-top">
    <div class="row">
      <div class="col-xs-12">
        {{yield}}
      </div>
    </div>
  </div>
{{/page-navigation}}
