<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <ul class="footer-list footer-list-right">
          <li>About Us</li>
          <li>Blog</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Advertise</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <ul class="footer-list footer-list-grey">
          <li>Privacy Policy</li>
          <li>Terms of Use</li>
          <li>Site Map</li>
        </ul>
        <p class="footer-copy">
          Copyright &copy; 2016. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
