<div class="row">
  <div class="col-xs-12 col-sm-3">
    <span>Restaurant</span>
    <span>{{restaurant.name}}</span>
  </div>
  <div class="col-xs-12 col-sm-5">
    <span>Reserved For</span>
    <span>{{reservation.date}} {{reservation.time}}</span>
  </div>
  <div class="col-xs-12 col-sm-4">
    <span>Max number of Guests</span>
    <span>{{reservation.table.numberOfChairs}}</span>
  </div>
</div>
