<div id="wrap">
  {{navigation-wrapper}}
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          Bad Request {{model.message}}
        </div>
      </div>
    </div>
  </div>
</div>
