<form class="admin-form" {{action 'submitCity' on='submit'}}>
  <div class="row">
    <div class="col-xs-12">
      {{input class='form-input' type='text' placeholder='City Name' value=model.location.name required='required'}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{google-map polygon=polygon bounds=model.location.bounds editableBounds=true}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="text-align: right">
      {{#link-to 'admin.locations' class="form-button form-button-small form-button-grey"}}Cancel{{/link-to}}
      <button class="form-button form-button-small" type="submit">{{if model.isEdit 'Edit' 'Add'}} City</button>
    </div>
  </div>
</form>
