<div class="row">
  <div class="col-xs-12 col-sm-4 col-lg-3">
    {{#link-to 'admin.restaurants' class="admin-statistic-link"}}
    <div class="admin-statistic">
      <h3>{{model.statistics.numberOfRestaurants}}</h3>
      <p>
        Restaurants
      </p>
      {{#link-to 'admin.restaurants.new'}}Add Restaurant{{/link-to}}
    </div>
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-4 col-lg-3">
    {{#link-to 'admin.cuisines' class="admin-statistic-link"}}
    <div class="admin-statistic">
      <h3>{{model.statistics.numberOfCuisines}}</h3>
      <p>
        Cuisines
      </p>
      {{#link-to 'admin.cuisines.new'}}Add Cuisine{{/link-to}}
    </div>
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-4 col-lg-3">
    {{#link-to 'admin.locations' class="admin-statistic-link"}}
    <div class="admin-statistic">
      <h3>{{model.statistics.numberOfCities}}</h3>
      <p>
        Locations
      </p>
      {{#link-to 'admin.locations.new'}}Add Location{{/link-to}}
    </div>
    {{/link-to}}
  </div>
  <div class="col-xs-12 col-sm-4 col-lg-3">
    {{#link-to 'admin.users' class="admin-statistic-link"}}
    <div class="admin-statistic">
      <h3>{{model.statistics.numberOfUsers}}</h3>
      <p>
        Users
      </p>
      {{#link-to 'admin.users.new'}}Add User{{/link-to}}
    </div>
    {{/link-to}}
  </div>
</div>
